$y: #4CAF4F;

.heroBg {
    background: #F5F7FA;
}

.ttx {
    text-align: center;
}

.hero-title {
    color: #4D4D4D;
    font-size: 64px;

    div {
        color: $y;
    }
}

@media (max-width: 1200px) {
    .hero-title {
        font-size: 55px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 36px;
        text-align: start;
    }

    .hero-text {
        text-align: start;
    }

    .igm {
        img {
            width: 300px;
        }
    }
}

.hbb {
    background: $y;
    color: white;

    &:hover {
        color: $y;
    }
}